aiogram==2.15
aiohttp==3.8.0
aioredis==2.0.0
aiosignal==1.2.0
appdirs==1.4.4
APScheduler==3.6.3
async-timeout==4.0.0
attrs==21.2.0
Babel==2.9.1
black==21.10b0
cattrs==1.8.0
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
dateparser==1.1.0
Flask==1.1.1
Flask-SQLAlchemy==2.5.1
frozenlist==1.2.0
greenlet==1.1.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.2.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.2
pytz==2019.3
redis==3.5.3
regex==2021.11.2
requests==2.26.0
requests-cache==0.8.1
six==1.13.0
SQLAlchemy==1.4.26
tomli==1.2.2
typing-extensions==3.10.0.2
tzlocal==2.0.0
url-normalize==1.4.3
urllib3==1.26.7
Werkzeug==0.16.0
yarl==1.7.2
